@page "/result"
@using Masky.Models
@using Masky.Services
@inject QuizService quiz
@inject NavigationManager Nav

<div class="result-container">
    <div class="result-box">
        <h2 class="result-title">Tvoja maska je</h2>

        <h1 class="mask-name">@GetWinnerName(MainMask)</h1>

        <div class="w-100 d-flex justify-content-center my-2">
            <div class="fixed-mask-image rounded overflow-hidden">
                <img src="@GetImagePath(MainMask)"
                     alt="Mask image"
                     class="img-fluid w-100 h-100 object-fit-fill" />
            </div>
        </div>
       
        <div class="description">
            <p>@((MarkupString)maskDescription)</p>
        </div>

        <button class="restart-button" @onclick="Restart">Spustiť znovu</button>
    </div>
</div>

@code {
    private MaskType MainMask;
    private MaskType SecondMask;
    private int MainPercentage;
    private int SecondPercentage;
    private string? maskDescription;

    protected override void OnInitialized()
    {
        var resultData = quiz.GetResultBreakdown();
        maskDescription = GetDescription(MainMask);
        var sorted = resultData.OrderByDescending(x => x.Value).ToList();

        MainMask = sorted[0].Key;
    }


    string GetWinnerName(MaskType type) => type switch
    {
        MaskType.Turon => "TUROŇ",
        MaskType.Luca => "LÚCA",
        MaskType.Slama => "SLAMA",
        MaskType.NevestaZenich => "NEVESTA/ŽENÍCH",
        MaskType.Vodic => "VODIČ",
        MaskType.Medved => "MEDVEĎ",
        _ => ""
    };

    string GetDescription(MaskType type)
    {
        return type switch
        {
            MaskType.Turon => "<strong>Vzhľad:</strong> Vyzeral ako vysoké zviera.<br>Mal veľkú hlavu, otváraciu papuľu,<br>rohy a zvonce, ktoré pri pohybe hrkali.<br><br><strong>Správanie:</strong> Turoň bol neposedný,<br>hlučný a divoký, často vbiehal do<br>domov, naháňal deti a robil neplechu.<br><br><strong>Funkcia:</strong> Symbolizoval plodnosť,<br>prebúdzanie života a jar. Jeho hlučné<br>správanie malo zahnať zlé sily a zimu.<br>Bol najživšia maska sprievodu.",

            MaskType.Luca => "<strong>Vzhľad:</strong> Lucia je postava odetá<br>v bielej látke s bielou maskou.<br><br><strong>Správanie:</strong> Postava často mlčala.<br>To jej malo dodať nadprirodzenú<br>vážnosť a magickosť.<br><br><strong>Funkcia:</strong> Kontrolovala poriadok<br>v domácnostiach počas zimného<br>slnovratu. Symbolizovala očistu<br>a ochranu pred zlými silami,<br>démonmi a chorobami.",

            MaskType.Slama => "<strong>Vzhľad:</strong> Maska slameníka bola celá<br>upletená zo slamy, často doplnená<br>drevenou alebo handrovou hlavou.<br><br><strong>Správanie:</strong> Zvyšky slamy niekedy<br>rozhadzoval po poli ako magický akt<br>na zabezpečenie dobrej úrody.<br><br><strong>Funkcia:</strong> Bol zosobnením plodnosti,<br>úrody a ochrany pred zlými silami.",

            MaskType.NevestaZenich => "<strong>Vzhľad:</strong> Pár karikoval svadobný obrad,<br>často s prevrátenými rolami<br>(napr. muž ako nevesta a naopak).<br><br><strong>Správanie:</strong> Komické a teatrálne.<br>Napodobňovali svadobné rituály,<br>často preháňali a koketovali.<br><br><strong>Funkcia:</strong> Reprezentovali nový<br>začiatok, plodnosť a udržanie rodu,<br>ale zároveň slúžili na zosmiešnenie<br>spoločenských stereotypov.",

            MaskType.Vodic => "<strong>Vzhľad:</strong> Zvyčajne bol oblečený<br>slávnostne alebo mal výrazný odev,<br>aby pôsobil autoritatívne.<br><br><strong>Správanie:</strong> Bol vážny, dôstojný,<br>ale aj zábavný. Komandoval masky<br>a dozeral, aby sa dodržiaval poriadok.<br><br><strong>Funkcia:</strong> Jeho úlohou bolo viesť sprievod,<br>zabávať domácnosti a sprostredkovať<br>významy masiek.",

            MaskType.Medved => "<strong>Vzhľad:</strong> Maska bola celá z kožusiny<br>a niekedy bola doplnená drevenou hlavou medveďa.<br><br><strong>Správanie:</strong> Medveď sa pohyboval<br>ťažkopádne a hravo, tancoval,<br>váľal sa po zemi a vtipkoval s divákmi.<br><br><strong>Funkcia:</strong> Bol symbolom sily,<br>plodnosti a obrody. Jeho tanec mal<br>priaznivý význam pre úrodu a zdravie<br>v novom roku.",

            _ => ""
        };
    }

    string GetImagePath(MaskType type) => type switch
    {
        MaskType.Turon => "images/masks/turon.png",
        MaskType.Luca => "images/masks/luca.png",
        MaskType.Slama => "images/masks/slama.png",
        MaskType.NevestaZenich => "images/masks/nevestazenich.png",
        MaskType.Vodic => "images/masks/vodic.png",
        MaskType.Medved => "images/masks/medved.png",
        _ => ""
    };

    void Restart()
    {
        quiz.Reset();
        Nav.NavigateTo("/");
    }
}
